.git
docker-compose.yml
docker-compose.*.yml
Taskfile.yml

front/node_modules
bin/
.planning/
*.md
.claude/
.env
.env.*
.dockerignore
.golangci.yml


release-please-config.json
.release-please-manifest.json

CLAUDE.md
CHANGELOG.md
